
.container {
  background-color: aquamarine;
}
.imageContainer {
  width: 100%;
}

.imageContainer > div {
  position: unset !important;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
