@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: local('Montserrat'), url(../public/fonts/Montserrat-Regular.ttf) format('truetype');
}

.p1 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 5px;
}

.p2 {
    font-family: "Montserrat";
    font-size: 14px;
    color: gray;
    margin-top: 0px;
}

.c1 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 26px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.p3 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.punkMainImage {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.punkMainImage > img {
    width: 80px !important;
}

.carousel{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}

.carousel > div > div:first-child {
    height: 250px;
}
